{% extends "detectionbase.html" %}
{% load humanize %}
{% load staticfiles %}

{% block picture %}
    <section>
    <img src={{ netpicture1 }} width="800px">
    </section>
    <br>
    <br>

    <section>
    <img src={{ netpicture2 }} width="800px">
    </section>
    <br>
    <br>

    <section>
    <img src={{ netpicture3 }} width="800px">
    </section>
    <br>
    <br>

    <section>
    <img src={{ netpicture4 }} width="800px">
    </section>
    <br>
    <br>

    <section>
    <img src={{ netpicture5 }} width="800px">
    </section>
    <br>
    <br>

    <section>
    <img src={{ netpicture6 }} width="800px">
    </section>
    <br>
    <br>

    <section>
    <img src={{ netpicture7 }} width="800px">
    </section>
    <br>
    <br>

    <section>
    <img src={{ netpicture8 }} width="800px">
    </section>



{% endblock %}
